* {
    box-sizing: border-box;
    padding: 0;
    color: #000000
}

*, body {
    margin: 0;
}

.screen-wrapper--bg-- {
    background: #ffffff
}

.screen-wrapper {
    display: grid;
    flex: 1;
    place-content: center;
}

*, body {
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
}
div {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    font-family: basier-circle,sans-serif;
    min-height: 100vh;
}

button {
    font-size: 18px;
    background-color: #d9d9d9;
    border:3px solid #000000;
    padding: 5px;
    border-radius: 4px;
}

.screen-nav-wrapper {
    width: 411px;
    overflow: hidden;
    box-shadow: 2px 5px 7px 3px rgba(0, 0, 0, 0.675);

}

.screen {
    display: flex;
    flex-direction: column;
    min-height: 824px;
    margin: 0 auto;
    overflow: hidden;
    width:auto;
    max-width:100%;
    border-radius: 3px;
    border: 2px solid #ffffff;
    
    
    
}


.chat::-webkit-scrollbar {
    width: 0;
  }
  


.chat {
    
    padding: 24px;
    margin: 5px;
    width:auto;
    max-width:100%;
    height: 730px;
    scrollbar-width: thin;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    overflow-y:scroll;

}

.message {
    border: 2px solid #000000;
    padding: 0.5rem;
    position: relative;
    z-index: 1;
    left: -8px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width:auto;
    max-width:100%;
    margin-bottom: 10px;



}

.message h1, p {
    overflow-wrap: break-word;
}

.message h1 {
    border-bottom: 3px solid #6f6f6f;
}

.message p {
    font-size: 18px;
}

.form__message {
    overflow-y: scroll;
    overflow-y: auto;
    padding: 1rem;
    border-top: 3px solid #b3b3b3;
    width: 407px;
    top: 830px;
}

.form__message input{
    font-size: 18px;
    border-radius: 5px;
    width: 70%;
    background-color: #d9d9d9;
    
}

.form__message button {
    font-size: 18px;
    background-color: #d9d9d9;
    border:3px solid #000000;
    padding: 5px;
    border-radius: 4px;  
}




.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: #111;
    border-color: transparent;
    white-space: nowrap
}

.sidenav button:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    text-decoration: none
}

.menu span {
    font-size:20px; 
    cursor:pointer;
    position: fixed;
    top: 10px;
    z-index: 100000;
    color: rgb(17, 0, 255);
}



.settings-unvisible {
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}



.settings-visible {
    position: fixed;
  

    height: 720px;
    width: 400px;
    margin-left: -200px;
    margin-top: -400px;
    z-index: 9999;
    top: 50%;
    left: 50%;
    
    background-color: #d9d9d9;
    
    transition: 0.5s;
    padding: 10px;
    border: solid 2px rgb(111, 111, 111)

    
}

.settings-visible strong {
    font-size: 30px;
    text-align: center;
}

.settings-visible p {
    font-size: 20px
}

.settings-visible form {
    display: block;
    width: 200px;
    position: absolute;
    top: 610px;
}

.settings-visible button{
    margin: 3px;
    padding: 3px;
}

.settings-visible form input {
    width: 300px;
    height: 23px;
    font-size: 21px;
    margin: 3px;
}

.commands {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 350px;
}







